<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.LoginUserImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>userinfo</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetUserInfoImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>usernamevalid</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.IsUsernameValidImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>registeruser</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.RegisterUserImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getmachines</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetMachinesImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getprebuiltmachines</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetPrebuiltMachinesImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getisolist</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetIsoListImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>testservlet</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.TestServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>createmachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.CreateMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>exportmachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.ExportMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>deletemachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.DeleteMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>startviewmachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.StartMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>shutdownmachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.ShutdownMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getuserslist</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetUsersListImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>sharemachine</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.ShareMachineImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getnotifications</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetNotificationsImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>acceptshare</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.AcceptShareImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>refuseshare</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.RefuseShareImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>removenotification</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.RemoveNotificationImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>removeshare</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.RemoveShareImpl</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>getactivemachines</servlet-name>
  	<servlet-class>it.unibo.cs.v2.server.GetActiveMachinesImpl</servlet-class>
  </servlet>
  
  <!-- Mappings -->
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/flozconfigurator/user</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>userinfo</servlet-name>
  	<url-pattern>/flozconfigurator/userinfo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>usernamevalid</servlet-name>
  	<url-pattern>/flozconfigurator/usernamevalid</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>registeruser</servlet-name>
  	<url-pattern>/flozconfigurator/registeruser</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getmachines</servlet-name>
  	<url-pattern>/flozconfigurator/getmachines</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getprebuiltmachines</servlet-name>
  	<url-pattern>/flozconfigurator/getprebuiltmachines</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getisolist</servlet-name>
  	<url-pattern>/flozconfigurator/getisolist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>testservlet</servlet-name>
  	<url-pattern>/flozconfigurator/testservlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>createmachine</servlet-name>
  	<url-pattern>/flozconfigurator/createmachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>exportmachine</servlet-name>
  	<url-pattern>/flozconfigurator/exportmachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>deletemachine</servlet-name>
  	<url-pattern>/flozconfigurator/deletemachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>startviewmachine</servlet-name>
  	<url-pattern>/flozconfigurator/startviewmachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>shutdownmachine</servlet-name>
  	<url-pattern>/flozconfigurator/shutdownmachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getuserslist</servlet-name>
  	<url-pattern>/flozconfigurator/getuserslist</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>sharemachine</servlet-name>
  	<url-pattern>/flozconfigurator/sharemachine</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getnotifications</servlet-name>
  	<url-pattern>/flozconfigurator/getnotifications</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>acceptshare</servlet-name>
  	<url-pattern>/flozconfigurator/acceptshare</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>refuseshare</servlet-name>
  	<url-pattern>/flozconfigurator/refuseshare</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>removeshare</servlet-name>
  	<url-pattern>/flozconfigurator/removeshare</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>removenotification</servlet-name>
  	<url-pattern>/flozconfigurator/removenotification</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>getactivemachines</servlet-name>
  	<url-pattern>/flozconfigurator/getactivemachines</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FlozConfigurator.html</welcome-file>
  </welcome-file-list>
  
  
  <!-- Security constraints -->
  <security-constraint>
  	<display-name>Private files</display-name>
  	
  	<web-resource-collection>
  		<web-resource-name>Users file</web-resource-name>
  		<url-pattern>/users.xml</url-pattern>
  	</web-resource-collection>

  	<web-resource-collection>
  		<web-resource-name>Users dir</web-resource-name>
  		<url-pattern>/users/*</url-pattern>
  	</web-resource-collection>
  	
  	<auth-constraint>
  		<role-name>admin</role-name>
  	</auth-constraint>
  </security-constraint>
	  
</web-app>
